<h1>Soft skills</h1>
<hr>

<div class="mb-4">
    {{ form_start(form_soft) }}
        {{ form_widget(form_soft) }}
        <input class="form-control btn btn-primary" type="submit" value="Add"/>
    {{ form_end(form_soft) }}
</div>

<table class="table table-light table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th class="col-1 text-center">Edit</th>
            <th class="col-1 text-center">Delete</th>
        </tr>
    </thead>

    <tbody>
    {% for soft in softs %}
        <tr>
            <td>{{ soft.name }}</td>
            <td class="text-center"><a href="{{ path('admin_softs_show', {'id': soft.id}) }}" rel="noopener"><button type="button" class="btn btn-primary">Edit</button></a></td>
            <td class="text-center"><a href="{{ path('admin_softs_delete', {'id': soft.id}) }}" rel="noopener"><button type="button" class="btn btn-danger" onclick="return confirm('Are you sure to delete it?')">Delete</button></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
