{% if trainings is defined and trainings|length > 0 %}
    <section id="resume__formations" class="resume__formation">
        <h1 class="resume__title">Formations</h1>

        {% for training in trainings %}
            <section class="formations__formation">
                <h2 class="resume__subtitle">{{ training.title }}</h2>
                <h3 class="resume__company">
                    {% if training.companyLink != '' %}
                    <a href="{{ training.companyLink }}" class="resume__link" target="_blank" rel="noopener noreferrer">{{ training.company }}</a>  {{ (app.request.get('_route') ends with 'pdf') ? ("<span class='text-muted'><small> - " ~ training.companyLink ~ "</small></span>") | raw : ''  }}
                    {% else %}
                        {{ training.company }}
                    {% endif %}
                </h3>

                <p class="resume__date">
                    <i class="fas fa-calendar"></i> 
                    <span>{{ training.dateStart|date("m/Y") }} - {{ training.dateEnd|date("m/Y") }}</span>
                    <i class="fas fa-map-marker-alt"></i> 
                    <strong>{{ training.location }}</strong>
                </p>

                <p class="resume__desc">
                    {{ training.description | raw }}
                </p>
            </section>
        {% endfor %}

    </section>
{% endif %}
