{% extends 'admin/base.html.twig' %}

{% block title %}CV Admin - Edit a portfolio entry
{% endblock %}

{% block body %}

    {% if portfolio.name != '' %}
        <h1>Edit the portfolio entry:
            {{ portfolio.name }}</h1>
    {% else %}
        <h1>Edit a portfolio entry:</h1>
    {% endif %}
    <hr>

    <div>
        {{ form_start(form_portfolio) }}

        <div class="text-center"><img class="img-fluid portfolio_edit_image" src="{{ asset(portfolio_directory ~ portfolio.image) }}" alt="{{ portfolio.name }}"></div>

        {{ form_widget(form_portfolio) }}
        {% if portfolio.name != '' %}
            <input class="form-control btn btn-primary" type="submit" value="Edit"/>
        {% else %}
            <input class="form-control btn btn-primary" type="submit" value="Add"/>
        {% endif %}
        {{ form_end(form_portfolio) }}
    </div>

{% endblock %}
