{% extends 'admin/base.html.twig' %}

{% block title %}CV Admin - Home{% endblock %}

{% block body %}

<div class="row col-12">
    <h1>Experiences</h1>
    <hr>

    <a href="{{ path('admin_experiences_show', {'id': 'new'}) }}"><button type="button" class="btn btn-primary my-2">Create new</button></a>

    <table class="table table-light table-striped table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th class="col-3">Company</th>
                <th class="col-1">Order</th>
                <th class="col-1">Edit</th>
                <th class="col-1">Delete</th>
            </tr>
        </thead>

        <tbody>
        {% for experience in experiences %}
            <tr>
                <td>{{ experience.title }}</td>
                <td>{{ experience.company }}</td>
                <td class="text-center">{{ experience.listOrder }}</td>
                <td class="text-center"><a href="{{ path('admin_experiences_show', {'id': experience.id}) }}" rel="noopener"><button type="button" class="btn btn-primary">Edit</button></a></td>
                <td class="text-center"><a href="{{ path('admin_experiences_delete', {'id': experience.id}) }}" rel="noopener"><button type="button" class="btn btn-danger" onclick="return confirm('Are you sure to delete it?')">Delete</button></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="row col-12">
    <h1>Trainings</h1>
    <hr>

    <a href="{{ path('admin_trainings_show', {'id': 'new'}) }}"><button type="button" class="btn btn-primary my-2">Create new</button></a>

    <table class="table table-light table-striped table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th class="col-3">School</th>
                <th class="col-1">Order</th>
                <th class="col-1">Edit</th>
                <th class="col-1">Delete</th>
            </tr>
        </thead>

        <tbody>
        {% for training in trainings %}
            <tr>
                <td>{{ training.title }}</td>
                <td>{{ training.company }}</td>
                <td class="text-center">{{ training.listOrder }}</td>
                <td class="text-center"><a href="{{ path('admin_trainings_show', {'id': training.id}) }}" rel="noopener"><button type="button" class="btn btn-primary">Edit</button></a></td>
                <td class="text-center"><a href="{{ path('admin_trainings_delete', {'id': training.id}) }}" rel="noopener"><button type="button" class="btn btn-danger" onclick="return confirm('Are you sure to delete it?')">Delete</button></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="row d-flex flex-wrap">
    <div class="col-6">
        <h1>Aptitudes</h1>
        <hr>

        {# <a href="{{ path('admin_aptitudes_show', {'id': 'new'}) }}"><button type="button" class="btn btn-primary my-2">Create new</button></a> #}
        <div class="mb-4">
            {{ form_start(form_aptitude) }}
                {{ form_widget(form_aptitude) }}
                <input class="form-control btn btn-primary" type="submit" value="Add"/>
            {{ form_end(form_aptitude) }}
        </div>

        <table class="table table-light table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="col-1 text-center">Edit</th>
                    <th class="col-1 text-center">Delete</th>
                </tr>
            </thead>

            <tbody>
            {% for aptitude in aptitudes %}
                <tr>
                    <td>{{ aptitude.name }}</td>
                    <td class="text-center"><a href="{{ path('admin_aptitudes_show', {'id': aptitude.id}) }}" rel="noopener"><button type="button" class="btn btn-primary">Edit</button></a></td>
                    <td class="text-center"><a href="{{ path('admin_aptitudes_delete', {'id': aptitude.id}) }}" rel="noopener"><button type="button" class="btn btn-danger" onclick="return confirm('Are you sure to delete it?')">Delete</button></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-6">
        <h1>Skills</h1>
        <hr>

        <div class="mb-4">
            {{ form_start(form_skill) }}
                {{ form_widget(form_skill) }}
                <input class="form-control btn btn-primary" type="submit" value="Add"/>
            {{ form_end(form_skill) }}
        </div>

        <table class="table table-light table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="col-1 text-center">Level</th>
                    <th class="col-1 text-center">Edit</th>
                    <th class="col-1 text-center">Delete</th>
                </tr>
            </thead>

            <tbody>
            {% for skill in skills %}
                <tr>
                    <td>{{ skill.name }}</td>
                    <td class="text-center">{{ skill.level }}</td>
                    <td class="text-center"><a href="{{ path('admin_skills_show', {'id': skill.id}) }}" rel="noopener"><button type="button" class="btn btn-primary">Edit</button></a></td>
                    <td class="text-center"><a href="{{ path('admin_skills_delete', {'id': skill.id}) }}" rel="noopener"><button type="button" class="btn btn-danger" onclick="return confirm('Are you sure to delete it?')">Delete</button></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-6">
        <h1>Soft skills</h1>
        <hr>

        <div class="mb-4">
            {{ form_start(form_soft) }}
                {{ form_widget(form_soft) }}
                <input class="form-control btn btn-primary" type="submit" value="Add"/>
            {{ form_end(form_soft) }}
        </div>

        <table class="table table-light table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="col-1 text-center">Edit</th>
                    <th class="col-1 text-center">Delete</th>
                </tr>
            </thead>

            <tbody>
            {% for soft in softs %}
                <tr>
                    <td>{{ soft.name }}</td>
                    <td class="text-center"><a href="{{ path('admin_softs_show', {'id': soft.id}) }}" rel="noopener"><button type="button" class="btn btn-primary">Edit</button></a></td>
                    <td class="text-center"><a href="{{ path('admin_softs_delete', {'id': soft.id}) }}" rel="noopener"><button type="button" class="btn btn-danger" onclick="return confirm('Are you sure to delete it?')">Delete</button></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-6">
        <h1>Interests</h1>
        <hr>

        <div class="mb-4">
            {{ form_start(form_interest) }}
                {{ form_widget(form_interest) }}
                <input class="form-control btn btn-primary" type="submit" value="Add"/>
            {{ form_end(form_interest) }}
        </div>

        <table class="table table-light table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="col-2 text-center">Icon</th>
                    <th class="col-1 text-center">Order</th>
                    <th class="col-1 text-center">Edit</th>
                    <th class="col-1 text-center">Delete</th>
                </tr>
            </thead>

            <tbody>
            {% for interest in interests %}
                <tr>
                    <td>{{ interest.name }}</td>
                    <td>{{ interest.icon }}</td>
                    <td>{{ interest.listOrder }}</td>
                    <td class="text-center"><a href="{{ path('admin_interests_show', {'id': interest.id}) }}" rel="noopener"><button type="button" class="btn btn-primary">Edit</button></a></td>
                    <td class="text-center"><a href="{{ path('admin_interests_delete', {'id': interest.id}) }}" rel="noopener"><button type="button" class="btn btn-danger" onclick="return confirm('Are you sure to delete it?')">Delete</button></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    
</div>

{% endblock %}
