<h1>Trainings</h1>
<hr>

<a href="{{ path('admin_trainings_show', {'id': 'new'}) }}"><button type="button" class="btn btn-primary my-2">Create new</button></a>

<table class="table table-light table-striped table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th class="col-3">School</th>
            <th class="col-1">Order</th>
            <th class="col-1">Edit</th>
            <th class="col-1">Delete</th>
        </tr>
    </thead>

    <tbody>
    {% for training in trainings %}
        <tr>
            <td>{{ training.title }}</td>
            <td>{{ training.company }}</td>
            <td class="text-center">{{ training.listOrder }}</td>
            <td class="text-center"><a href="{{ path('admin_trainings_show', {'id': training.id}) }}" rel="noopener"><button type="button" class="btn btn-primary">Edit</button></a></td>
            <td class="text-center"><a href="{{ path('admin_trainings_delete', {'id': training.id}) }}" rel="noopener"><button type="button" class="btn btn-danger" onclick="return confirm('Are you sure to delete it?')">Delete</button></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
