<h1>Skills</h1>
<hr>

<div class="mb-4">
    {{ form_start(form_skill) }}
        {{ form_widget(form_skill) }}
        <input class="form-control btn btn-primary" type="submit" value="Add"/>
    {{ form_end(form_skill) }}
</div>

<table class="table table-light table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th class="col-1 text-center">Level</th>
            <th class="col-1 text-center">Edit</th>
            <th class="col-1 text-center">Delete</th>
        </tr>
    </thead>

    <tbody>
    {% for skill in skills %}
        <tr>
            <td>{{ skill.name }}</td>
            <td class="text-center">{{ skill.level }}</td>
            <td class="text-center"><a href="{{ path('admin_skills_show', {'id': skill.id}) }}" rel="noopener"><button type="button" class="btn btn-primary">Edit</button></a></td>
            <td class="text-center"><a href="{{ path('admin_skills_delete', {'id': skill.id}) }}" rel="noopener"><button type="button" class="btn btn-danger" onclick="return confirm('Are you sure to delete it?')">Delete</button></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
